.game-card {
  background-color: white;
  width: 360px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: transform 200ms ease-in-out;
  position: relative;
}

.stored {
  outline: 2px solid rgba(253, 92, 66, 1);
}

.game-card:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.game-card__img {
  max-height: 350px;
  max-width: 350px;
  border-radius: 10px 10px 10px 10px;
}

.game-card__title {
  margin: .5rem 0;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.game-card__data {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  color: rgba(66,92,253,1);
  font-weight: bold;
}

.game-card__data,
.game-card__title {
  padding: 0 1rem;
}

.checkbox {
  position: absolute;
  top: -10px;
  right: -10px;
  background: White;
  border-radius: .75rem;
  width: 24px;
  height: 24px;
}

.checkbox:hover,
.full {
  background: rgba(253, 92, 66, 1);
}
