.form {
  padding: 100px 4rem 2rem 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__container {
  width: 100%;
}

.form__fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  outline: none;
  margin-top: 2rem;
  width: 40%;
  height: 2rem;
  border-radius: 1rem;
  border: none;
  padding: 0 1rem;
}

.search-input:focus {
  outline:  2px solid rgba(253, 92, 66, 1);
}

.form__input,
.search-input {
  text-align: center;
}

.form__select {
  margin: 1.5rem 0;
  height: 1.5rem;
}

.select__label {
  margin-right: 1rem;
}

.games {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
  width: 100%;
}