*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(0deg, rgba(66,92,253,1) 0%, rgba(66,227,253,1) 100%) fixed; 
  font-family: 'Plus Jakarta Sans', sans-serif;
  min-width: 375px;
}

html {
  font-size: 100%;
}